body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: radial-gradient(at top left, blue, white);
  background-size: cover;
  background-attachment: fixed;
}


@font-face {
  font-family: "lemon";
  src: url('./assets/LemonMilk.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "lemon";
}

h2 {
  font-family: "lemon";
}

h3 {
  font-family: "lemon";
}

h4 {
  font-family: "lemon";
}

h5 {
  font-family: "lemon";
}

header {
  border-bottom: 2px solid gold;
  border-top: 2px solid gold;
  min-width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  background-color: rgb(0, 0, 255, .5);
}

aside {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 4em;
}

.false {
  height: 4em;
  width: 4em;
  border: 2px solid red;
  margin: .5em;
}

.true {
  height: 4em;
  width: 4em;
  border: 2px solid lime;
  margin: .5em;
}

.fill-image {
  height: 4em;
  margin: .5em;
}

.timer {
  color: red;
  width: 4em;
  display: flex;
  justify-content: center;
}

a {
  color: gold;
  text-decoration: none;
}

.enter {
  color: red;
}

.enter:hover {
  transform: scale(1.1);
}

.home {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

@keyframes home {
  0% { transform: rotate(-10deg); }
  50%{ transform: rotate(10deg); }
  100% { transform: rotate(-10deg); }
}

.home-image {
  animation-name: home;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.home-title {
  display: flex;
}

.home-links {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.select-main {
  width: 80vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}



.select-icon {
  max-width: 38vw;
  margin: .5em;
}

.select-item {
  display: flex;
  flex-direction: column;
}

.select-info {
  background-color: rgb(255, 255, 255, .3);
  display: flex;
  justify-content: space-between;
  margin-top: .5em;
  margin-bottom: .5em;
  padding: .5em;
  border-bottom: 1px solid rgb(0, 0, 0, .5);
}

.level {
  display: flex;
  height: 100vh;
  width: 100vw;
  justify-content: space-evenly;
  
}

.level-image {
  max-height: 100%;
}

.game-area {
}


.score-item {
  display: flex;
  justify-content: space-between;
}

.score-title {
  display: flex;
  justify-content: center;
  border-bottom: 1px solid gold;
  margin: .5em;
  background-color: rgb(255, 255, 255, .5);
}

.leader-board {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.board-container {
  width: 80vw;
  background-color: rgb(255, 255, 255, .3);
  margin: .5em;
  padding: .5em;

}

.about {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.about-box {
  width: 80vw;
  background-color: rgb(255, 255, 255, .3);
  margin: .5em;
  padding: .5em;
}

.modal {
  background: rgb(255, 255, 255, .8);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transform: translate(250%, 50%);
  border: 1px solid gold;
  padding: .5em;
}

form {
  display: flex;
  flex-direction: column;
  padding: .5em;
  margin: .5em;
}

button {
  padding: .2em;
  background: white;
  border: 1px solid red;
}

button:hover {
  background: red;
}
