body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root {
  background-color: lightblue;
}

@font-face {
  font-family: "lemon";
  src: url('./assets/LemonMilk.otf') format('opentype');
  font-weight: 600;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

h1 {
  font-family: "lemon";
}

h2 {
  font-family: "lemon";
}

h3 {
  font-family: "lemon";
}

h4 {
  font-family: "lemon";
}

h5 {
  font-family: "lemon";
}

.enter:hover {
  background-color: blue;
}

.home {
  display: flex;
  min-width: 100vw;
  min-height: 100vh;
  justify-content: center;
  align-items: center;
}

.loading {
  display: flex;
  justify-content: center;
  align-items: center;
}

.select {
  display: flex;
  flex-direction: column;
}

.select-icon {
  max-width: 80%;
}
